a{
    text-decoration: none;
}
li{
    list-style: none;
    padding-left: 0;
}
.bg-footer {
    background-color: #24272e;
    color: white;
}
.bg-footer ul{
    padding: 0;
}
.bg-footer a {
    color: white;
}

.nav a{
    padding-left: 20px;
    color: white;
}
.info-header a{
    color: #24272e;
}
